[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
fastapi = "*"
nbconvert = "*"
nbparameterise = "*"
uvicorn = "*"
pandas = "*"
requests = "*"
requests-html = "*"
nbdev = "*"

[requires]
python_version = "3.6"
