appdirs==1.4.3
appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.4
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
click==7.1.1
cssselect==1.1.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fake-useragent==0.1.11
fastapi==0.53.2
h11==0.9.0
httptools==0.1.1
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
lxml==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.2
pandas==1.0.3
pandocfilters==1.4.2
parse==1.15.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pydantic==1.4
pyee==7.0.1
Pygments==2.6.1
pyppeteer==0.0.25
pyquery==1.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
requests==2.23.0
requests-html==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
starlette==0.13.2
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.44.1
traitlets==4.3.3
urllib3==1.25.8
uvicorn==0.11.3
uvloop==0.14.0
w3lib==1.21.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
widgetsnbextension==3.5.1
zipp==3.1.0
